.jshub-header-menu {
    &__menu {
        all: unset;

        @media screen and (max-width: 750px) {
          display: none;
        }
      }

      &__mobile {
        display: none;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        @media screen and (max-width: 750px) {
          display: flex;
        }
      }

    &__items {
        all: unset;
        display: flex;
        gap: 3.75rem;
        font-size: 0.75rem;
        font-weight: 500;
        color: #474747;
    }

    &__item {
        all: unset;
        opacity: 0.75;
        cursor: pointer;
        transition: opacity .3s ease;

        &:hover {
            opacity: 1;
        }
    }
}
