<menu
  class="jshub-header-menu__menu"
  [class.jshub-header-menu__menu--expanded]="isExpanded()"
>
  <ul class="jshub-header-menu__items">
    @for (item of items; track item) {
      <li
        (click)="onItemClick(item)"
        (keydown)="onItemClick(item)"
        class="jshub-header-menu__item"
        [class.jshub-header-menu__item--active]="navigation.activeRoute() === item.route"
        tabindex="0"
      >
        {{ item.label }}
      </li>
    }
  </ul>
</menu>

<div
  class="jshub-header-menu__backdrop"
  [class.jshub-header-menu__backdrop--visible]="isExpanded()"
  (click)="onBackdropClick()"
  (keydown)="onBackdropClick()"
  tabindex="0"
></div>

<div
  (click)="onMobileClick()"
  (keydown)="onMobileClick()"
  tabindex="0"
  class="jshub-header-menu__mobile"
>
  <ng-icon [name]="iconName()" size="20" />
</div>
