.jshub-header-logo {
    &__wrapper {
        display: flex;
        align-items: center;
        gap: 0.375rem;
        font-size: 1rem;
        font-weight: 500;
        color: #333333;
        cursor: pointer;
    }

    &__logo {
        display: block;
        width: 1rem;
        height: 1rem;
        background: url("public/images/logo.png");
    }

    &__domain {
        font-weight: 400;
    }
}